.wrapper-overview{
    background: rgba(43,48,53, 0.85);
	height: 100vh;
	color: white;
}

@media all and (max-width: 1940px){
	.wrapper-overview{
		height: 100%;
	}
}

h1 {
    text-align: center;
}

.champion-overview-content {
	padding: 20px;
}

.champion-overview-content h2 {
	width: auto;
}


.dashboard-champOverview-controlPannel{
    width: 100%;
}

.dashboard-champOverview-controlPannel-list{
    list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.dashboard-champOverview-controlPannel-list li {
    padding: 5px;
}

.champion-overview-list{
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
}

.champion-overview-list li {
	padding: 5px;
	margin-right: 5px;
}

.champion-caption{
	width: auto;
	margin: 0 auto;
	width: 100px;
}
