.wrapper-downloader {
    background: rgba(43,48,53, 0.95);
	height: 100vh;
	color: white;
	overflow: auto;
}


.tournamentSelect-wrapper{
	width: fit-content;
	margin: 0 auto;
}

.wrapper-button-tournamentSelect{
	width: fit-content;
	margin: 0 auto;
	padding-bottom: 5px;
}


.wrapper-Monitoring-downloadButton{
	width: fit-content;
	margin: 0 auto;
}