.wrapper-overview-player{
    background: rgba(43,48,53, 0.95);
	height: 100vh;
	color: white;
}

@media all and (max-width: 1940px){
	.wrapper-overview-player{
		height: 100%;
	}
	
}

h1 {
    text-align: center;
}

.playerOverview-content-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.dashboard-playerOverview-controlPannel{
    width: 100%;
}

.dashboard-playerOverview-controlPannel-list{
    list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.dashboard-playerOverview-controlPannel-list li {
    padding: 5px;
}

.playerOverview-champion-list{
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.playerOverview-champion-list li {
	padding: 5px;
	margin-right: 5px;
}

.playerOverview-graph{
	width: 400px;
	height: 400px;
	background-color: black;
}

.playerOverview-playerSelect{
	width: 200px;
	margin: 0 auto;
}
.playerOverview-playerSelect p{
	text-align: center;
	margin-bottom: 0px;
}
.playerOverview-other-content{
	margin-left: 10px;
}
