/* .playerOverview-content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} */

.playerOverview-graph{
	width: 680px;
	height: 680px;
	background-color: black;
	margin: 0 auto;
}

.graph-ControlPanel{
	width: fit-content;
	margin: 0 auto;
}

.playerOverview-other-content{
	margin: 10px;
}

.playerOverview-stats{
	width: fit-content;
}

.playerOverview-stats div p{
	font-size: large;
}

.playerOverview-champion-list{
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.playerOverview-champion-list li {
	padding: 5px;
	margin-right: 5px;
}