.wrapper-scouting-player{
    background: rgba(43,48,53, 0.95);
	height: 100vh;
	color: white;
	overflow: auto;
}


h1 {
    text-align: center;
}

.simple-tabpanel-0{
	width:980px;
	margin: 0 auto;
}
.simple-tabpanel-1, .simple-tabpanel-2, .simple-tabpanel-3, .simple-tabpanel-4, .simple-tabpanel-5{
	width:1200px;
	margin: 0 auto;
}