.wrapper-scouting-player{
    background: rgba(43,48,53, 0.95);
	height: 100vh;
	color: white;
	overflow: auto;
}


h1 {
    text-align: center;
}

.simple-tabpanel-0{
	width: 1095px;
	margin: 0 auto;
}
.simple-tabpanel-1{
	width: 1080px;
	margin: 0 auto;
}
.simple-tabpanel-2{
	width: 1380px;
	margin: 0 auto;
}
.simple-tabpanel-3{
	width: 780px;
	margin: 0 auto;
}
.simple-tabpanel-4{
	width: 1230px;
	margin: 0 auto;
}