.wrapper-teamAnalysisOverall{
    background: rgba(43,48,53, 0.95);
	height: 100vh;
	color: white;
	overflow: auto;
}

.wrapper-heatmap-teamAnalysisOverall{
	background-color: rgb(43,48,53);
	width: fit-content;
	margin: 40px auto
}

#y-label div{
	position: static !important;
}